.sliderContainer {
	margin: 3rem -1.25rem;
	@include media('>=desktop') {
		margin: 5rem -3rem 3rem;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $comic;
		text-transform: uppercase;
		margin: 0 auto 1rem;
		max-width: 90%;
		@include media('<=tablet') {
			width: 100%;
		}
		&-title {
			font-size: 2rem;
		}
		&-link {
			color: $white;
			text-decoration: none;
			outline: none;
			border-bottom: 1px solid transparent;
			transition: 0.5s;
			&:hover {
				border-color: $white;
			}
		}
	}

	.swiper-slide {
		width: 60%;
		@include media('>=tablet') {
			width: 26%;
		}
		@include media('>=desktop') {
			width: 17%;
		}
	}

	.comic {
		position: relative;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 145%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}
