@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Open+Sans+Condensed:wght@300&display=swap');

$openSans: 'Open Sans Condensed', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$bg: #212529;
$text: #e2eafc;
$grey: #ced4da;
