@import './variables';
@import './components/navigatioin';
@import './components/char-card';
@import './components/char-list';
@import './components/single-char';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $bg;
	color: $text;
}

.app {
	width: 100vw;
	height: 100vh;
}
